ansible
ansible-lint
yamllint

# Needed for Molecule test scenarios
molecule
molecule-plugins[docker]
docker

# Needed for jinja2 json_query templating
jmespath
# Needed for ansible.utils.validate module
jsonschema==4.23.0

aar-doc==2.0.0
ssh-keygen
passlib==1.7.4
