---
extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - .yamllint
  - .ansible-lint

rules:
  document-start:
    present: true
  document-end:
    present: true
  indentation:
    spaces: 2
  line-length:
    max: 180
    level: warning
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    forbid: false
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

ignore: |
  .github/
  .venv
...
